@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

BorderPane {
    -fx-font-family: 'ABeeZee', sans-serif;
    -fx-background-color: rgba(194, 255, 192, 1);
    -fx-border-radius: 3em;
    -fx-border-color: rgb(24,147,21);
    -fx-background-radius: 3.5em;
    -fx-border-width: 3;
}

.check-box{
    -fx-cursor: hand;
}
.check-box .box {
    -fx-background-color: #c2ffc0;
    -fx-border-color:grey;
    -fx-border-radius:3px;
}
.check-box:selected .mark {
    -fx-background-color: white;
}
.check-box:selected .box {
    -fx-background-color: rgb(24, 147, 21);
}


.button{
    -fx-background-color: rgb(24, 147, 21);
    -fx-background-radius: 50;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: rgb(24, 127, 21);
}
.button:pressed {
    -fx-background-color: rgb(24, 177, 21);
}


.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: rgba(255,255,255,0.5);
}
.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .track, .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(24,147,21,0.7);
    -fx-background-radius: 5em;
    -fx-cursor: hand;
}
.scroll-bar:horizontal .thumb:pressed, .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgba(24, 177, 21, 0.7);
    -fx-background-radius: 5em;
    -fx-cursor: hand;
}

.list-view ,.list-view .list-cell{
    -fx-background-color: transparent;
    -fx-background-radius: 50;
}
.list-view .list-cell:hover{
    -fx-background-color: white;
    -fx-background-radius: 50;
}
.list-view .scroll-bar {
    -fx-background-radius: 5em;
}


.text-field{
    -fx-background-color: rgba(24, 147, 21, 0.23);
    -fx-background-radius: 50;
    -fx-Prompt-text-fill: #707070;
}


.date-picker {
    -fx-background-color: transparent;
}
.date-picker-popup {
    -fx-background-color: transparent;
}
.date-picker .text-field {
    -fx-background-color: rgba(24, 147, 21, 0.23);
    -fx-background-radius: 50;
    -fx-cursor: none;
}
.date-picker .arrow-button {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}
.date-picker-popup .day-cell:hover{
    -fx-background-color: rgba(24,147,21,0.7);
}
.date-picker-popup .day-cell:focused{
    -fx-background-color: rgb(24,147,21);
    -fx-text-fill: white;
}
.date-picker-popup .week-number-cell{
    -fx-text-fill: rgb(24,147,21);
}
.date-picker-popup .today{
    -fx-cell-focus-inner-border: rgb(24,147,21);
}

.radio-button .radio{
    -fx-background-color: transparent;
    -fx-border-color: #707070 ;
    -fx-border-radius:50;
}
.radio-button .dot{
    -fx-color: rgb(0,255,0) ;
}


.text-area {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: rgba(255,255,255,0.8);
    -fx-text-fill: white;
}
.text-area .scroll-bar{
    -fx-background-radius: 50;
    -fx-background-color: rgba(255,255,255,0.2);
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.combo-box{
    -fx-background-color: transparent;
    -fx-border-color: rgb(24,147,21);
    -fx-prompt-text-fill: black;
    -fx-border-radius: 50;
}
.combo-box-popup .list-view{
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-background-radius: 10;
    -fx-border-color: rgb(24,147,21);
    -fx-border-radius: 10;
}
.combo-box-popup .list-cell:hover,.combo-box-popup .list-cell:selected{
    -fx-text-fill: rgb(24,147,21);
    -fx-background-color: rgba(24,147,21,0.1) ;
}