@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

BorderPane{
    -fx-font-family: 'ABeeZee', sans-serif;
    -fx-background-color: rgba(194, 255, 192, 1);
}

.check-box .box {
    -fx-background-color: #c2ffc0;
    -fx-border-color:grey;
    -fx-border-radius:3px;
}
.check-box:selected .mark {
    -fx-background-color: white;
}
.check-box:selected .box {
    -fx-background-color: rgb(24, 147, 21);
}


.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: rgba(255,255,255,0.5);
}
.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .track, .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(21,147,24,0.7);
    -fx-background-radius: 5em;
}